<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        {% for task in tasks %}
        <li>
            {{task.title}} - {{task.description}} ({{ task.completed|yesno:"Выполнено,Не выполнено" }})
        </li>
        {% empty %}
        <li>Список задач пуст</li>
        {% endfor %}
    </ul>

    <h2>Добавить задачу</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</body>
</html>